.lista-opciones {
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
}

.lista-opciones > label{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.lista-opciones div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.lista-opciones select {
    width: 100%;
    border: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 30px 20px;
    outline-color: #6278f7;
    font-size: 16px;
}

.button {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 16px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    
}

.button:hover {
    color: #95ffd4;
}